<h1 class="">Product APP</h1>
<h2>Manager</h2>

<p>Manager can see all the products who are approved and products who need to be approve and 
    user who are available.</p>
<br>
<h2>Admin</h2>

<p>Admin can see home page where all the approved product are show who are approved by the manager.</p>
<p>Admin can also the approve the product create the product edit the product and 
    delete the product.</p> 
<p>Admin can also add delete and update the user.<p> 
    <br>  
<h2>User</h2>

<p>User can see all the approved Product in the home section user can add the 
    product,edit the Product information and delete the product.</p>        
