<div class="container my-5">
    <h1 class="mb-3">Edit User</h1>
  
    <div class="row">
    <div class="col-6">
  
    <form #form="ngForm" (ngSubmit)="updateUser()">
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]= "userDetails.id">
          </div>
         
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]= "userDetails.name" #nameField="ngModel" required>
            </div>
            <div class="error text-danger small" *ngIf="(nameField.touched || nameField.dirty) && nameField.invalid">Name field is required</div>

        
  
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="Address" [(ngModel)]= "userDetails.address" #addressField="ngModel" required>
              </div>
              <div class="error text-danger small" *ngIf="(addressField.touched || addressField.dirty) && addressField.invalid">field is required</div>

        
  
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="city" class="form-control" id="city" name="city" [(ngModel)]= "userDetails.city" #cityField="ngModel" required>
              </div>
              <div class="error text-danger small" *ngIf="(cityField.touched || cityField.dirty) && cityField.invalid">field is required</div>

  
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input type="role" class="form-control" id="role" name="Role" [(ngModel)]= "userDetails.role" #roleField="ngModel" required>
              </div>
              <div class="error text-danger small" *ngIf="(roleField.touched || roleField.dirty) && roleField.invalid">field is required</div>

  
           
            
            <button type="submit" class="btn btn-primary" [disabled]="!(nameField.valid && addressField.valid && cityField.valid && roleField.valid)">Save</button>
            <button type="button" class="btn btn-danger" (click)="deleteUser(userDetails.id)">Delete</button>
          
    </form>
    </div>
  </div>
  </div>
     